# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database connection - replace with your actual credentials
DATABASE_URL="postgresql://username:password@localhost:5432/dashi?schema=public"
DIRECT_URL="postgresql://username:password@localhost:5432/dashi?schema=public"
RESEND_API_KEY="your_resend_api_key_here"
DEFAULT_FROM_EMAIL="your_default_from_email_here"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="yoursecrethere"

# Add other environment variables here as needed